{% extends "base/base.html" %}

{% block container %}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label">Editar {{singular_name}}  </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="far fa-list-alt"></i>Listar {{controller}}
                    </a>
 
                </div>
            </div>
            <form class="form" id="edit" method="post"  action="../../../../../api/{{controller|lower}}/{{id}}/update">
                
                <div class="card-body">
 
                </div>
                <div class="card-footer">
 
                </div>
            </form>
            
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block inline_css %}
{% endblock %}
{% block extra_js_config %}

    <!--end::Page Scripts-->
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/edit.js"></script>

{% endblock %}