
<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">

		<!--begin::Container-->
		<div class="container">
			<!--begin::Dashboard-->

			<!--begin::Row--> 
			<!--end::Row-->

			<!--end::Dashboard-->
		</div>
		<!--end::Container-->
	</div>
<!--end::Entry-->