					<!--begin::Footer-->
					<div class="footer bg-white py-4 d-flex" id="kt_footer" style="background-color:transparent !important;margin-top: -16px; display: flex;justify-content: center;">
						<!--begin::Container-->
						<div>
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
							    <a href="https://lnxweb.com.br/sistemas-personalizados" target="_blank" class="text-dark-75 text-hover-primary" style="font-family: Poppins;font-style: normal;font-weight: 500;font-size: 12px;line-height: 12px;color: #8E8C9A !important;"> Sistema by <span class=" font-weight-bolder">LNXWEB</span>	 </a>
							</div>
							<!--end::Copyright-->
							<!--begin::Nav-->
					<!-- 		<div class="nav nav-dark">
								<a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pl-0 pr-5">About</a>
								<a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pl-0 pr-5">Team</a>
								<a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pl-0 pr-0">Contact</a>
							</div> -->
							<!--end::Nav-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->