<!DOCTYPE html>
<html lang="pt-br">
	<!--begin::Head-->
	<head>
		<base href="//{{server_name}}/metronic/dist/">
		<meta charset="utf-8" />
 		<title>{{controller|capitalize }}</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

		<!--end::Fonts-->

		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

		<!--end::Page Vendors Styles-->

		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

		<!--end::Global Theme Styles-->

		<!--begin::Layout Themes(used by all pages)-->
		<link href="assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />

		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
		{% block link_stylesheet %}{% endblock %}
		{% block inline_css %}{% endblock %}	
	</head>

	<!--end::Head-->

	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">


		<!--begin::Main-->

		<!--[html-partial:include:{"file":"partials/_header-mobile.html"}]/-->
		{{ include('base/metronic-model-1/partials/_header-mobile.html') }}

		<div class="d-flex flex-column flex-root">

			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">

				<!--[html-partial:include:{"file":"partials/_aside.html"}]/-->
				{{ include('base/metronic-model-1/partials/_aside.html') }}

				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					<!--[html-partial:include:{"file":"partials/_header.html"}]/-->
					{{ include('base/metronic-model-1/partials/_header.html') }}


					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

					<!--[html-partial:include:{"file":"partials/_subheader/subheader-v1.html"}]/-->
					{{ include('base/metronic-model-1/partials/_subheader/subheader-v1.html') }}

						<!--Content area here-->

						<div class="container-fluid">
							{% block container %}
							{% endblock %}
						</div>
					</div>

					<!--end::Content-->

					<!--[html-partial:include:{"file":"partials/_footer.html"}]/-->
					{{ include('base/metronic-model-1/partials/_footer.html') }}

				</div>

				<!--end::Wrapper-->
			</div>

			<!--end::Page-->
		</div>

		<!--end::Main-->

		<!--[html-partial:include:{"file":"partials/_extras/offcanvas/quick-user.html"}]/-->
		{{ include('base/metronic-model-1/partials/_extras/offcanvas/quick-user.html') }}

		<!--[html-partial:include:{"file":"partials/_extras/offcanvas/quick-cart.html"}]/-->
		{{ include('base/metronic-model-1/partials/_extras/offcanvas/quick-cart.html') }}

		<!--[html-partial:include:{"file":"partials/_extras/offcanvas/quick-panel.html"}]/-->
		{#{ include('base/metronic-model-1/partials/_extras/offcanvas/quick-panel.html') }#}

		<!--[html-partial:include:{"file":"partials/_extras/chat.html"}]/-->
		{{ include('base/metronic-model-1/partials/_extras/chat.html') }}

		<!--[html-partial:include:{"file":"partials/_extras/scrolltop.html"}]/-->
		{{ include('base/metronic-model-1/partials/_extras/scrolltop.html') }}

		<!--[html-partial:include:{"file":"partials/_extras/toolbar.html"}]/-->
		{#{ include('base/metronic-model-1/partials/_extras/toolbar.html') }#}

		<!--[html-partial:include:{"file":"partials/_extras/offcanvas/demo-panel.html"}]/-->
		{#{ include('base/metronic-model-1/partials/_extras/offcanvas/demo-panel.html') }#}

	<!-- <script>
			var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
		</script> -->

		<!--begin::Global Config(global config for global JS scripts)-->
		<script>
			var KTAppSettings = {
				"breakpoints": {
					"sm": 576,
					"md": 768,
					"lg": 992,
					"xl": 1200,
					"xxl": 1400
				},
				"colors": {
					"theme": {
						"base": {
							"white": "#ffffff",
							"primary": "#3699FF",
							"secondary": "#E5EAEE",
							"success": "#1BC5BD",
							"info": "#8950FC",
							"warning": "#FFA800",
							"danger": "#F64E60",
							"light": "#E4E6EF",
							"dark": "#181C32"
						},
						"light": {
							"white": "#ffffff",
							"primary": "#E1F0FF",
							"secondary": "#EBEDF3",
							"success": "#C9F7F5",
							"info": "#EEE5FF",
							"warning": "#FFF4DE",
							"danger": "#FFE2E5",
							"light": "#F3F6F9",
							"dark": "#D6D6E0"
						},
						"inverse": {
							"white": "#ffffff",
							"primary": "#ffffff",
							"secondary": "#3F4254",
							"success": "#ffffff",
							"info": "#ffffff",
							"warning": "#ffffff",
							"danger": "#ffffff",
							"light": "#464E5F",
							"dark": "#ffffff"
						}
					},
					"gray": {
						"gray-100": "#F3F6F9",
						"gray-200": "#EBEDF3",
						"gray-300": "#E4E6EF",
						"gray-400": "#D1D3E0",
						"gray-500": "#B5B5C3",
						"gray-600": "#7E8299",
						"gray-700": "#5E6278",
						"gray-800": "#3F4254",
						"gray-900": "#181C32"
					}
				},
				"font-family": "Poppins"
			};
		</script>
		<!--end::Global Config-->

		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- <script src="https://keenthemes.com/metronic/assets/js/engage_code.js"></script> -->
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
		<!--end::Page Vendors-->

		<!--begin::Page Scripts(used by this page)-->
		<script src="assets/js/pages/widgets.js"></script>
		<!--end::Page Scripts-->

		{% block extra_js_config %}
		{% endblock %}
	</body>

	<!--end::Body-->
</html>