{% extends "base/base.html" %}

{% block container %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label">Cadastrar  {{singular_name}} </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="far fa-list-alt"></i>Listar {{controller}}
                    </a>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button  data-toggle="modal" data-target="#modalImportCSV" class="btn btn-outline-secondary font-weight-bolder mr-2">
                        <i class="fas fa-file-csv"></i>Importar CSV
                    </button>
                    <!--end::Button-->
                </div>
            </div>
            <form class="form" id="add" method="post"  action="../../../../../api/{{controller|lower}}/add">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Código (SKU) </label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="cod_sku" id="cod_sku" placeholder="LosangelesA2048-2" value="" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="descricao" id="descricao" placeholder="KIT 4 CAMISETAS X" value="" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select required class="form-control form-control-solid form-control-md select2 select_search_empresas" name="empresas_id" id="empresas_id" placeholder="Clique para buscar e selecionar">
                                    <option label="Label"></option>
                                </select>
                            </div>
                        </div>    

                    </div>
<!--                    <div class="form-group row">
                            <div class="col-lg-2">Composição:</div>
                            <div data-repeater-list="" class="col-lg-10">
                                <div data-repeater-item="" class="form-group row align-items-center">
                                    <div class="col-md-4">
                                        <label>Código (SKU)</label>
                                        <input required type="text" class="form-control form-control-solid form-control-lg" placeholder="LosangelesA2048">
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Quantidade:</label>
                                        <input required type="number" class="form-control form-control-solid form-control-lg" placeholder="2">
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    <div id="kt_repeater_1">
                        <div class="form-group row">
                            <div class="col-lg-2"> </div>
                            <div data-repeater-list="produtos_data" class="col-lg-10">
                                <div data-repeater-item="" class="form-group row align-items-center">
                                    <div class="col-md-4">
                                        <label>Código (SKU)</label>
                                        <select required class="form-control form-control-solid form-control-lg select2 select_search_produtos" name="produtos_id">
                                            <option label="Label"></option>
                                        </select>
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Quantidade:</label>
                                        <input required type="number" class="form-control form-control-solid form-control-lg" name="produtos_qtd" placeholder="2">
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>&nbsp;</label>
                                        <a href="javascript:;" data-repeater-delete="" class="form-control  btn btn-md font-weight-bolder btn-light-danger">
                                        <i class="la la-trash-o"></i>Apagar</a>
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-right"></label>
                            <div class="col-lg-4">
                                <a href="javascript:;" data-repeater-create="" class="btn btn-md font-weight-bolder btn-light-primary">
                                <i class="la la-plus"></i>Adicionar Item</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                </div>
                </div>
                </div>
            </form>
            
        </div>
        <!--end::Card-->
    </div>
</div>
<!-- Modal-->
<div class="modal fade" id="modalImportCSV" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar CSV</h5>
    <!--             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->
            </div>
            <div class="modal-body">
                <div class="form-group row">
                <p>Clique para selecionar os arquivos CSV ou arraste e solte no box abaixo, para fazer o Upload clique em "Enviar".</p>
                </div>
                <div class="form-group row">
                    <div id="dropzone_box" class="col-lg-12 col-md-12 col-sm-12 dropzone"></div>
                </div>
                <div class="form group row center text-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button disabled id="upload_button" class="btn btn-outline-secondary font-weight-bolder btn-md">Importar <i class="icon-1x fas fa-file-upload"></i></button>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Fechar</button>
                <!-- <button type="button" class="btn btn-primary font-weight-bold">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block link_stylesheet %}
<link rel="stylesheet" href="">
{% endblock %}

{% block inline_css %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
</style>
{% endblock %}
{% block extra_js_config %}
    <!--end::Page Scripts-->
    <script src="assets/js/pages/custom/importCSV.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/add.js"></script>
{% endblock %}
