{% extends "base/base.html" %}

{% block container %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label">Editar  {{singular_name}}</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="far fa-list-alt"></i>Listar {{controller}}
                    </a>
  
                </div>
            </div>
            <form class="form" id="edit" method="post" action="../../../../../api/{{controller|lower}}/{{id}}/update">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Código (SKU) </label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="cod_sku" id="cod_sku" placeholder="LosangelesA2048-2" value="{{cod_sku}}" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="descricao" id="descricao" placeholder="KIT 4 CAMISETAS X" value="{{descricao}}" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select required class="form-control form-control-solid form-control-md select2 select_search_empresas" name="empresas_id" id="empresas_id" placeholder="Clique para buscar e selecionar">
                                    <option value="{{empresas_id}}" label="Label">{{empresa}}</option>
                                </select>
                            </div>
                        </div>    

                    </div>
     
                    <div id="kt_repeater_1">
                        <div class="form-group row">
                            <div class="col-lg-2"> </div>
                            <div data-repeater-list="produtos_data" class="col-lg-10">
                                {% for produto in produtos_data %}
                                    <div data-repeater-item="" class="form-group row align-items-center">
                                    <div class="col-md-4">
                                        <label>Código (SKU)</label>
                                        <select required class="form-control form-control-solid form-control-lg select2 select_search_produtos" name="produtos_id">
                                            <option value="{{ produto.produtos_id  }} " label="Label">{{ produto.produtos_descricao  }}</option>
                                        </select>
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Quantidade:</label>
                                        <input required type="number" class="form-control form-control-solid form-control-lg" name="produtos_qtd" value="{{ produto.produtos_qtd  }}" placeholder="2">
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>&nbsp;</label>
                                        <a href="javascript:;" data-repeater-delete="" class="form-control  btn btn-md font-weight-bolder btn-light-danger">
                                        <i class="la la-trash-o"></i>Apagar</a>
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                </div>
                                {% endfor %}
       
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-right"></label>
                            <div class="col-lg-4">
                                <a href="javascript:;" data-repeater-create="" class="btn btn-md font-weight-bolder btn-light-primary">
                                <i class="la la-plus"></i>Adicionar Item</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <button type="button" onclick="deleta({{id}})" class="btn btn-danger">
                        <span class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                            </g>
                            </svg>
                        </span>Apagar
                    </button>
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                </div>
                </div>
                </div>
            </form>
            
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block inline_css %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
</style>
{% endblock %}
{% block extra_js_config %}
    <!--end::Page Scripts-->
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/edit.js"></script>
{% endblock %}
