{% extends "base/base.html" %}

{% block container %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label"> {{controller}} Cadastrados</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}/novo" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="la la-plus"></i>Adicionar {{singular_name}}</a>
                    <!--end::Button-->
  
    
        
                </div>
                
            </div>
            <div class="card-body">
            <div class="form">
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>Código (SKU):</label>
                        <input type="text" id="cod_sku_q" name="cod_sku_q" class="serch_input form-control form-control-solid form-control-md" placeholder="LosangelesA2046"/>
                    </div>
                    <div class="col-md-3">
                        <label>Pesquise pela Descrição do Kit:</label>
                        <input type="text" id="descricao_q" name="descricao_q" class="serch_input form-control form-control-solid form-control-md" placeholder="KIT 4 CAMISETAS X"/>
                    </div>
     
                    <div class="col-md-4">
                        <label>Empresa:</label>
                        <select class="form-control form-control-solid form-control-md select2 select_search_empresas" id="empresas_id_q" name="empresas_id_q">
                            <option label="Label"></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Status:</label>
                        <select class="form-control form-control-solid form-control-md" id="enabled_q" name="enabled_q">
                            <option selected value="">Todos</option>
                            <option value="1">Habilitado</option>
                            <option value="0">Desabilitado</option>
                        </select>
                    </div>
                    <div class="col-md-1"> 
                        <label>&nbsp;</label>
                        <button id="search_dt" class="form-control btn-sm btn btn-primary"><i class="flaticon2-search-1"></i></button>
                    </div>
                </div>
               
            </div>
                                                    <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>Registro ID</th>
                            <th>Código (SKU)</th>
                            <th>Empresa</th>
                            <th>Descrição</th>
                            <th>empresas_id</th>
                            <th>Editar</th>
                            <th>Habilitar/Desabilitar</th>
                            <th>Deletar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
  <!--                       <tr>
                            <td>1</td>
                            <td>LosangelesA2-2</td>
                            <td>Fleischer</td>
                            <td>KIT 4 CAMISETAS X</td>
                            <td nowrap="nowrap" class="text-center">
                                <span class="switch switch-primary"><label><input onchange="sucesso()" type="checkbox" checked="checked" name="select"><span></span></label>
                                </span>
                            </td>
                            <td nowrap="nowrap" class="text-center">
                                <a href="../../../../../{{controller|lower}}/123/edit" class="btn btn-sm btn-icon btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr> -->
  

                    </tbody>
                </table>
                <!--  <p> <?php //echo $formandos['total_records'] ?> Resultados</p>  -->     
                    <div id="paginator"></div>
            </div>
            
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block extra_js_config %}
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <!--end::Page Scripts-->
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/list.js"></script>

{% endblock %}
