<div id="tipo_pessoa_juridica" class="form-group row">
    <div class="col-lg-4">
        <label>Nome Fantasia:</label>
        <input required type="text" oninput="this.value = this.value.toUpperCase()" class="form-control form-control-solid form-control-lg" id="nomeFantasia" name="nome_fantasia" value="{{nome_fantasia}}" placeholder=""/>
    </div>
    <div class="col-lg-4">
        <label>Razão Social:</label>
        <input required type="text" oninput="this.value = this.value.toUpperCase()" class="form-control form-control-solid form-control-lg" id="razaoSocial" name="razao_social" value="{{razao_social}}" placeholder=""/>
    </div>
    <div class="col-lg-3">
        <label>CNPJ:</label>
        <input required type="text" class="form-control form-control-solid form-control-lg" id="cnpj"  name="cnpj" value="{{cnpj}}" placeholder=""/>
    </div>
</div>