<div id="tipo_pessoa_fisica" class="form-group row">
    <div class="col-lg-4">
        <label>Nome:</label>
        <input required type="text" oninput="this.value = this.value.toUpperCase()" class="form-control form-control-solid form-control-lg" id="nome" name="nome" value="{{nome}}"  placeholder=""/>
    </div>
    <div class="col-lg-4">
        <label>CPF:</label>
        <input required type="text"  class="form-control form-control-solid form-control-lg" id="cpf" name="cpf" value="{{cpf}}" placeholder="000.000.000-00"/>
    </div>
</div>