{% extends "base/base.html" %}

{% block container %}

<div class="row">
    <div class="col-md-12 col-sm-12">
  
                  <div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
                                            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"/>
                                                    <path d="M18,2 L20,2 C21.6568542,2 23,3.34314575 23,5 L23,19 C23,20.6568542 21.6568542,22 20,22 L18,22 L18,2 Z" fill="#000000" opacity="0.3"/>
                                                    <path d="M5,2 L17,2 C18.6568542,2 20,3.34314575 20,5 L20,19 C20,20.6568542 18.6568542,22 17,22 L5,22 C4.44771525,22 4,21.5522847 4,21 L4,3 C4,2.44771525 4.44771525,2 5,2 Z M12,11 C13.1045695,11 14,10.1045695 14,9 C14,7.8954305 13.1045695,7 12,7 C10.8954305,7 10,7.8954305 10,9 C10,10.1045695 10.8954305,11 12,11 Z M7.00036205,16.4995035 C6.98863236,16.6619875 7.26484009,17 7.4041679,17 C11.463736,17 14.5228466,17 16.5815,17 C16.9988413,17 17.0053266,16.6221713 16.9988413,16.5 C16.8360465,13.4332455 14.6506758,12 11.9907452,12 C9.36772908,12 7.21569918,13.5165724 7.00036205,16.4995035 Z" fill="#000000"/>
                                            </g>
                                            </svg><!--end::Svg Icon--></span>
											</span>
											<h3 class="card-label">Registros do Sistema</h3>
										</div>
									</div>

									<div class="card-body">
                                    <form class="form">
                                        <div class="form-group row">
                                            <div class="col-lg-2">
                                                <label>Colaborador</label>
                                                <select class="form-control form-control-sm" id="exampleSelects">
                                                    <option value="Bruno">Todos</option>
                                                    <option value="Bruno">Bruno</option>
                                                    <option>Rafael</option>
                                                </select>
                                                <span class="form-text text-black">Pesquise os registros por colaborador</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <label>Pesquise por Datas:</label>
                                                
                                                <div class="input-group" id='kt_daterangepicker_3'>
                                            <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
                                            </div>
                                            <input type="text" class="form-control " placeholder="Clique para selecionar">
                                            <input type="hidden" id="input_start_date">
                                            <input type="hidden" id="input_end_date">
                                            </div>
                                                <span class="form-text text-black">Selecione um Intervalo de Datas para Pesquisar</span>
                                        
                                            </div>
                                            <div class="col-lg-4">
                                            <!--begin::Input-->
                                                <label>Pesquise por Ações no Sistema</label>
                                                <div class="checkbox-inline">
                                                    <label class="checkbox">
                                                    <input type="checkbox"/>
                                                    <span></span>
                                                    Registro
                                                    </label>
                                                    <label class="checkbox">
                                                    <input type="checkbox"/>
                                                    <span></span>
                                                    Upload
                                                    </label>
                                                    <label class="checkbox">
                                                    <input type="checkbox"/>
                                                    <span></span>
                                                    Exclusão
                                                    </label>
                                                    </div>
                                            </div>
                                        <!--end::Input-->
                                        <div class="col-lg-2"> 
                                                <label>&nbsp; </label>
                                                <button type="submit" class="form-control btn btn-primary mr-2">Buscar</button>
                                                <span class="form-text text-muted">Clique no botão para realizar a pesquisa.</span>
                                            </div>
                                        </div>
                                    </form>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ver</th>
                                                <th scope="col">Colaborador</th>
                                                <th scope="col">Ação</th>
                                                <th scope="col">Data</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                              
                                        <tr data-toggle="collapse" data-target="#accordion_1" class="clickable">
                                            <td>
                                                <button type="button" class="btn btn-secondary">
                                                        <i class="flaticon2-plus"></i>
                                                </button>
                                            </td>
                                            <td>Bruno Luiz </td>
                                            <td>Upload de Arquivo</td>
                                            <td>03/04/2020</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div id="accordion_1" class="collapse">Informações das Ações</div>
                                            </td>
                                        </tr>
                                     

                                        </tbody>
                                        </table>
                                        <!--begin::Pagination-->
                                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                                            <div class="d-flex flex-wrap py-2 mr-3">
                                                <a href="../../../../../home" class="btn btn-icon btn-sm btn-light mr-2 my-1">
                                                    <i class="ki ki-bold-double-arrow-back icon-xs"></i>
                                                </a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm btn-light mr-2 my-1">
                                                    <i class="ki ki-bold-arrow-back icon-xs"></i>
                                                </a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">...</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">23</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light btn-hover-primary active mr-2 my-1">24</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">25</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">26</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">27</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">28</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">...</a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm btn-light mr-2 my-1">
                                                    <i class="ki ki-bold-arrow-next icon-xs"></i>
                                                </a>
                                                <a href="../../../../../home" class="btn btn-icon btn-sm btn-light mr-2 my-1">
                                                    <i class="ki ki-bold-double-arrow-next icon-xs"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!--end:: Pagination-->
                                    </div>
                                    
								</div>
								<!--end::Card-->
    </div>
</div>
{% endblock %}

{% block extra_js_config %}

<script src="assets/js/pages/crud/forms/widgets/select2.js?v=7.0.5"></script>
<script>
$('#kt_daterangepicker_3').daterangepicker({
    "showDropdowns": true,
    "locale": {
        "format": "DD/MM/YYYY",
        "separator": " - ",
        "applyLabel": "Aplicar",
        "cancelLabel": "Cancelar",
        "fromLabel": "De",
        "toLabel": "Até",
        "customRangeLabel": "Custom",
        "weekLabel": "S",
        "daysOfWeek": [
            "D",
            "S",
            "T",
            "Q",
            "Q",
            "S",
            "S"
        ],
        "monthNames": [
            "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
        ],
        "firstDay": 0
    },

    "opens": "left"
}, function(start, end, label) {
    $('#kt_daterangepicker_3 .form-control').val( start.format('DD-MM-YYYY') + ' Até ' + end.format('DD-MM-YYYY'));
    $('#input_start_date').val( start.format('YYYY-MM-DD'));
    $('#input_end_date').val( end.format('YYYY-MM-DD'));
});

</script>
{% endblock %}
