{% extends "base/base.html" %}

{% block container %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label">Cadastrar {{singular_name}} </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="far fa-list-alt"></i>Listar {{controller}} 
                    </a>
                    <!--end::Button-->
                </div>
            </div>
            <form class="form" id="add" method="post"  action="../../../../../api/{{controller|lower}}/add">
                <div class="card-body">
                    {{ include( "base/cadastros/pessoaJuridica.html") }}
                    {{ include( "base/cadastros/cadastroGenerico.html") }}
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Email para Relatórios</label>
                            <input type="email" class="form-control form-control-solid form-control-lg" name="email_relatorios" id="email_relatorios"  placeholder="" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Site</label>
                            <input type="text" class="form-control form-control-solid form-control-lg" name="website" placeholder="lojaonline.com.br" value="{{website}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group">
                            <label class="font-weight-bolder">Ativar/Desativar Empresa</label>
                            <span class="switch switch-icon switch-success">
                                <label>
                                    <input type="checkbox" {{checked}} id="service_enabled" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>    
                </div>
                </div>
                <div class="card-footer">
                <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                </div>
                </div>
                </div>
            </form>
            
        </div>
        <!--end::Card-->
    </div>
</div>
<!-- Modal-->
<div class="modal fade" id="modalImportCSV" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar CSV</h5>
    <!--             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->
            </div>
            <div class="modal-body">
                <div class="form-group row">
                <p>Clique para selecionar os arquivos CSV ou arraste e solte no box abaixo, para fazer o Upload clique em "Enviar".</p>
                </div>
                <div class="form-group row">
                    <div id="dropzone_box" class="col-lg-12 col-md-12 col-sm-12 dropzone"></div>
                </div>
                <div class="form group row center text-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button disabled id="upload_button" class="btn btn-outline-secondary font-weight-bolder btn-md">Importar <i class="icon-1x fas fa-file-upload"></i></button>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Fechar</button>
                <!-- <button type="button" class="btn btn-primary font-weight-bold">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js_config %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="assets/js/pages/custom/importCSV.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/add.js"></script>
    <script src="assets/js/pages/custom/maskmoney/jquery.maskMoney.min.js"></script>
    <script>
        $(".money").maskMoney({allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
    </script>
    <script>
    jQuery("input#cnpj").inputmask("99.999.999/9999-99");
    //jQuery("input#cpf").inputmask("999.999.999-99");
    jQuery("input.telefone")
    .mask("(99) 9999-9999?9")
    .focusout(function (event) {  
        var target, phone, element;  
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
        phone = target.value.replace(/\D/g, '');
        element = $(target);  
        element.unmask();  
        if(phone.length > 10) {  
            element.mask("(99) 99999-999?9");  
        } else {  
            element.mask("(99) 9999-9999?9");  
        }  
    });
    jQuery("input#cep").inputmask("99999-999");
    </script>

{% endblock %}
