{% extends "base/base.html" %}

{% block container %}
{% if service_enabled == 1 %}
{% set checked = 'checked="checked"' %}
{% endif %}
{% if meli_integracao == 1 %}
{% set checked_meli = 'checked="checked"' %}
{% endif %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label">Editar {{singular_name}}  </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="far fa-list-alt"></i>Listar {{controller}}
                    </a>
                </div>
            </div>
            <form class="form" id="edit" method="post" action="../../../../../api/{{controller|lower}}/{{id}}/update">
                <input type="hidden" id="empresas_id" value="{{id}}">
                <div class="card-body">
                    {{ include( "base/cadastros/pessoaJuridica.html") }}
                    {{ include( "base/cadastros/cadastroGenerico.html") }}
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Email para Relatórios</label>
                            <input type="email" class="form-control form-control-solid form-control-lg" name="email_relatorios" id="email_relatorio"  placeholder="fleischer@fleischer.com.br" value="{{email_relatorios}}" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Site</label>
                            <input type="text" class="form-control form-control-solid form-control-lg" name="website" placeholder="lojaonline.com.br" value="{{website}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group">
                            <label>Trocar Logo da Empresa:</label>
                            <div id="dropzone_box_product_image" class="col-lg-12 col-md-12 col-sm-12 dropzone"></div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-0 row">
                            <label>Logo da Empresa:</label>
                        </div>
                        <div class="form-group row">
                            <img src="../../../../../{{logo_path}}" onerror='this.src="../../../../../uploads/logo_empresas/default.png"' alt="..." class="img-thumbnail">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group">
                            <label class="font-weight-bolder">Ativar/Desativar Empresa</label>
                            <span class="switch switch-icon switch-success">
                                <label>
                                    <input type="checkbox" {{checked}} id="service_enabled" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>    
                </div>
                </div>
                <div class="card-footer">
                <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
   
                    <button type="button" onclick="deleta({{id}})" class="btn btn-danger">
                        <span class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                            </g>
                            </svg>
                        </span>Apagar
                    </button>
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                </div>
                </div>
                </div>
            </form>
            
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block link_stylesheet %}
<style>
    .btn-meli{
        background-color: #fff159;
        color: #2d3277;
    }
    .btn-meli:hover{
        background-color: #ffea00f1;
    }
    .btn-meli:before {
        content: url(../../../../../icones/meli.svg);
        width: 20px;
        float: left;
        margin-right: 5px;
        margin-top: 2px;
    }
</style>
{% endblock %}
{% block extra_js_config %}
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <!--end::Page Vendors-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/edit.js"></script>
    <script src="assets/js/pages/custom/maskmoney/jquery.maskMoney.min.js"></script>
	<script src="assets/js/pages/custom/{{controller|lower}}/upload_picture.js"></script>
    <script>
        $(".money").maskMoney({allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
    </script>
    <script>
    jQuery("input#cnpj").inputmask("99.999.999/9999-99");
    //jQuery("input#cpf").inputmask("999.999.999-99");
    jQuery("input.telefone")
    .mask("(99) 9999-9999?9")
    .focusout(function (event) {  
        var target, phone, element;  
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
        phone = target.value.replace(/\D/g, '');
        element = $(target);  
        element.unmask();  
        if(phone.length > 10) {  
            element.mask("(99) 99999-999?9");  
        } else {  
            element.mask("(99) 9999-9999?9");  
        }  
    });
    jQuery("input#cep").inputmask("99999-999");
    $('#uf').val('{{uf}}');
    </script>

{% endblock %}