{% extends "base/base.html" %}

{% block container %}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                        </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label"> {{controller}} Cadastradas</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}/novo" class="mr-2 btn btn-primary font-weight-bolder">
                    <i class="la la-plus"></i>Adicionar {{singular_name}}</a>
                    <!--end::Button-->
 
                </div>
            </div>

            <div class="card-body">
            <div class="form">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Pesquise pelo Nome Fantasia:</label>
                        <input type="text"  id="nome_fantasia_q" name="nome_fantasia" class="serch_input form-control" placeholder="Nome Fantasia da Empresa"/>
                    </div>
                    <div class="col-lg-3">
                        <label>CNPJ:</label>
                        <input type="text" id="cnpj_q" name="CNPJ" class="serch_input form-control" placeholder="53.758.314/0001-14"/>
                    </div>
                    <div class="col-lg-1"> 
                        <label>&nbsp;</label>
                        <button id="search_dt" class="form-control btn btn-primary"><i class="flaticon2-search-1"></i></button>
                    </div>
                </div>
            </div>
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome Fantasia</th>
                            <th>Razão Social</th>
                            <th>CNPJ</th>
                            <th>UF/Estado</th>
                            <th>Cidade</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                            <th>Nome Responsável</th>
                            <th>Email</th>
                            <th>Criado em</th>
                            <th>Apagar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <!--end: Datatable-->
                <!--  <p> <?php //echo $formandos['total_records'] ?> Resultados</p>  -->     
                <div id="paginator"></div>
            </div>
            
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block link_stylesheet %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
{% endblock %}
{% block extra_js_config %}
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <!--end::Page Vendors-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
    <!--end::Page Scripts-->
<!--     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script> -->
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/list.js"></script>

    <script>
    $('#cnpj_q').inputmask('99.999.999/9999-99');
    </script>
{% endblock %}
