{% extends "base/base.html" %}

{% block container %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <path d="M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z" fill="#000000" opacity="0.3"/>
                        <path d="M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z" fill="#000000"/>
                    </g>
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label">Cadastrar {{singular_name}} </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="far fa-list-alt"></i>Listar {{controller}} 
                    </a>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button  data-toggle="modal" data-target="#modalImportCSV" class="btn btn-outline-secondary font-weight-bolder mr-2">
                        <i class="fas fa-file-csv"></i>Importar CSV
                    </button>
                    <!--end::Button-->
                </div>
            </div>
            <form class="form" id="add" method="post"  action="../../../../../api/produtos/add">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Código (SKU) </label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="cod_sku" id="cod_sku" placeholder="LosangelesA2048" value="" />
                                <input required type="hidden" class="" id="produtos_id" value="" />
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="descricao" id="descricao" placeholder="Calça Jeans Masculina Versatti Reta Slim Lavagem Azul Escuro Los Angeles  A20 48" value="" />
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Peso: em kg</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="peso_kg" id="peso_kg"  placeholder="10" value="" />
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Altura: em cm</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="altura_cm" id="altura_cm"  placeholder="10" value="" />
                            </div>
                        </div>    
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>	Largura: em cm.</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="largura_cm" id="largura_cm" placeholder="5" value="" />
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Comprimento: em cm</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="comprimento_cm" id="comprimento_cm" placeholder="5" value="" />
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Código de Barras (EAN)</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="barcode" id="barcode" placeholder="7895095125324" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div   div class="col-xl-3">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select class="form-control form-control-solid form-control-md select2 select_search" name="empresas_id">
                                    <option label="Label"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Marca</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="marca" id="marca"  placeholder="Versatti" value="" />
                            </div>
                        </div>    
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Categoria</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="categoria" id="categoria" placeholder="Banho" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Upload da Foto do Produto:</label>
                                <div id="dropzone_box_product_image" class="col-lg-12 col-md-12 col-sm-12 dropzone"></div>
                            </div>
                        </div>
                    </div>
                </div>

   
                <div class="card-footer">
                <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                </div>
                </div>
                </div>
            </form>
            
        </div>
        <!--end::Card-->
    </div>
</div>
<!-- Modal-->
<div class="modal fade" id="modalImportCSV" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar CSV</h5>
    <!--             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->
            </div>
            <div class="modal-body">
                <div class="form-group row">
                <p>Clique para selecionar os arquivos CSV ou arraste e solte no box abaixo, para fazer o Upload clique em "Enviar".</p>
                </div>
                <div class="form-group row">
                    <div id="dropzone_box" class="col-lg-12 col-md-12 col-sm-12 dropzone"></div>
                </div>
                <div class="form group row center text-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button disabled id="upload_button" class="btn btn-outline-secondary font-weight-bolder btn-md">Importar <i class="icon-1x fas fa-file-upload"></i></button>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Fechar</button>
                <!-- <button type="button" class="btn btn-primary font-weight-bold">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js_config %}
    <script src="assets/js/pages/custom/importCSV.js"></script>
	<script src="assets/js/pages/custom/produtos/upload_picture.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/add.js"></script>
{% endblock %}