{% extends "base/base.html" %}

{% block container %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label">Editar {{singular_name}}  </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}" class="mr-2 btn btn-primary font-weight-bolder">
                        <i class="far fa-list-alt"></i>Listar {{controller}}
                    </a>
       
                </div>
            </div>
            <form class="form" id="edit" method="post" action="../../../../../api/{{controller|lower}}/{{id}}/update">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Código (SKU) </label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="cod_sku" id="cod_sku" placeholder="LosangelesA2048" value="{{cod_sku}}" />
                                <input required type="hidden" class="" id="produtos_id" value="" />
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="descricao" id="descricao" placeholder="Calça Jeans Masculina Versatti Reta Slim Lavagem Azul Escuro Los Angeles  A20 48" value="{{descricao}}" />
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Peso: em kg</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="peso_kg" id="peso_kg"  placeholder="10" value="{{peso_kg}}" />
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Altura: em cm</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="altura_cm" id="altura_cm"  placeholder="10" value="{{altura_cm}}" />
                            </div>
                        </div>    
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>	Largura: em cm.</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="largura_cm" id="largura_cm" placeholder="5" value="{{largura_cm}}" />
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Comprimento: em cm</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="comprimento_cm" id="comprimento_cm" placeholder="5" value="{{comprimento_cm}}" />
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Código de Barras (EAN)</label>
                                <input required type="text" class="form-control form-control-solid form-control-md" name="barcode" id="barcode" placeholder="7895095125324" value="{{barcode}}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div   div class="col-xl-3">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select class="form-control form-control-solid form-control-md select2 select_search" name="empresas_id">
                                    <option value="{{empresas_id}}" label="Label">{{empresa}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Marca</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="marca" id="marca"  placeholder="Versatti" value="{{marca}}" />
                            </div>
                        </div>    
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Categoria</label>
                                <input required type="text" class="form-control form-control-solid form-control-lg" name="categoria" id="categoria" placeholder="Banho" value="{{categoria}}" />
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Trocar Foto do Produto:</label>
                                <div id="dropzone_box_product_image" class="col-lg-12 col-md-12 col-sm-12 dropzone"></div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-0 row">
                                <label>Foto do Produto:</label>
                            </div>
                            <div class="form-group row">
                                <img src="../../../../../{{image_path}}" onerror='this.src="../../../../uploads/produto/default.png"' alt="..." class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    
                    </div>
                </div>
                <div class="card-footer">
                <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
   
                    <button type="button" onclick="deleta({{id}})" class="btn btn-danger">
                        <span class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                            </g>
                            </svg>
                        </span>Apagar
                    </button>
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                </div>
                </div>
                </div>
            </form>
            
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block extra_js_config %}
	<script src="assets/js/pages/custom/produtos/upload_picture.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/edit.js"></script>
    {% endblock %}