{% extends "base/base.html" %}

{% block container %}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        {{ include( "#{controller}/icon.html") }}
                        </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label"> {{controller}} Cadastrados</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}/novo" class="mr-2 btn btn-primary font-weight-bolder">
                    <i class="la la-plus"></i>Adicionar {{singular_name}}</a>
                    <!--end::Button-->
 
                </div>
            </div>

            <div class="card-body">
                <div class="form">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Cód SKU:</label>
                            <input type="text" id="cod_sku_q" name="cod_sku_q" class="serch_input form-control form-control-solid form-control-md" placeholder="LosangelesA2046"/>
                        </div>
                        <div class="col-md-5">
                            <label>Pesquise pela Descrição do Produto:</label>
                            <input type="text" id="descricao_q" name="descricao_q" class="serch_input form-control form-control-solid form-control-md" placeholder="Calça Jeans Masculina Versatti Reta Slim Lavagem Azul Escuro "/>
                        </div>
                        <div class="col-md-3">
                            <label>Cód de Barras</label>
                            <input type="text" id="barcode_q" name="barcode_q" class="serch_input form-control form-control-solid form-control-md" name="marca" placeholder="123456789" value="" />
                        </div>
                        <div class="col-md-2"> 
                            <label>&nbsp;</label>
                            <button id="search_dt" class="form-control btn btn-primary"><i class="flaticon2-search-1"></i></button>
                    </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Empresa:</label>
                            <select onchange="searchQueryDt();" class="form-control form-control-solid form-control-md select2 select_search" name="empresas_id" id="empresas_id_q">
                                <option label="Label"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>Registro ID</th>
                            <th>Código (SKU):</th>
                            <th>Descrição</th>
                            <th style="width: 15%">Cód. de Barras</th>
                            <th>Empresa</th>
                            <th>Empresa_id</th>
                            <th>Apagar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block link_stylesheet %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
{% endblock %}
{% block extra_js_config %}
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <!--end::Page Vendors-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
    <!--end::Page Scripts-->
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/list.js"></script>
{% endblock %}
