{% extends "base/base.html" %}

{% block container %}
{% if account_level_user == 'colaborador' %}
{% set selected_colaborador = 'selected="selected"' %}
{% endif %}
{% if account_level_user == 'admin' %}
{% set selected_admin = 'selected="selected"' %}
{% endif %}
<!--begin::Card-->
<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<span class="card-icon">
			<span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<polygon points="0 0 24 0 24 24 0 24"/>
				<path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
				<path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
			</g>
			</svg><!--end::Svg Icon--></span>
			</span>
			<h3 class="card-label">Editar Usuário</h3>
		</div>
		<div class="card-toolbar">
			<!--begin::Dropdown-->
			<!--end::Dropdown-->
			<!--begin::Button-->
		<!-- 	<a href="../../../../../lista_usuarios" class="btn btn-primary font-weight-bolder">
			<i class="flaticon2-list-1"></i>Lista de Usuários</a> -->
			<!--end::Button-->
		</div>
	</div>
</div>
<!--begin::Card-->
<div class="card card-custom gutter-b">
<form class="form" id="edit" method="post" action="../../../../../api/{{controller|lower}}/{{id}}/update">
<div class="card-body">
  <h3 class="font-size-lg text-dark font-weight-bold mb-6">Dados do Colaborador</h3>
  <div class="mb-15">
   <div class="form-group row">
    <label class="col-lg-3 col-form-label">Nome Completo:</label>
    <div class="col-lg-7">
     <input type="text" name="account_name" id="nome" class="form-control" value="{{account_name_user}}" placeholder="Joana Silva"/>
     <span class="form-text text-muted">Por favor digite o nome completo</span>
    </div>
   </div>
   <div class="form-group row">
    <label class="col-lg-3 col-form-label">Email:</label>
    <div class="col-lg-7">
     <input type="email" name="account_username" id="email" value="{{account_username_user}}"" class="form-control" placeholder="colaborador@empresa.com.br"/>
     <span class="form-text text-muted">Digite o endereço de e-mail</span>
    </div>
   </div>
  </div>

  <h3 class="font-size-lg text-dark font-weight-bold mb-6">Defina a senha de acesso</h3>
  <div class="mb-3">
   <div class="form-group row">
    <label class="col-lg-3 col-form-label">Senha :</label>
    <div class="col-lg-7">
    <div class="input-group">
        <input type="password" name="password" id="password"  class="form-control" placeholder="" aria-describedby="basic-addon2"/>
        <div class="input-group-append">
            <span class="">
            <div data-target-id="password" class="btn btn-primary mostrar_senha"><i class="far fa-eye"></i>Mostrar Senha</div></span>
        </div>
    </div>
    </div>
   </div>
   <div class="form-group row">
    <label class="col-lg-3 col-form-label">Confirme a Senha</label>
    <div class="col-lg-7">
    <div class="input-group">
        <input type="password" name="cpassword" id="cpassword"  class="form-control" placeholder="" aria-describedby="basic-addon2"/>
        <div class="input-group-append">
            <span class="">
            <div data-target-id="cpassword" class="btn btn-primary mostrar_senha"><i class="far fa-eye"></i>Mostrar Senha</div></span>
        </div>
    </div>
    </div>
   </div>
   <div class="form-group row align-items-center">
    <label class="col-lg-3 col-form-label">Função:</label>
    <div class="col-lg-7">
    <select class="form-control" name="account_level" id="funcao">
     <option {{selected_admin}} value="admin">Administrador</option>
     <option {{selected_colaborador}} value="colaborador">Colaborador</option>
    </select>
    </div>
   </div>
  </div>

 </div>
 <div class="card-footer">
  <div class="row">
   <div class="col-lg-3"></div>
   <div class="col-lg-6">
    <button  class="btn btn-success mr-2">Salvar</button>
   </div>
  </div>
 </div>
</form>
</div>

{% endblock %}

{% block extra_js_config %}
<script src="assets/js/pages/admin/users/edit.js"></script>

{% endblock %}
