					<!--begin::Aside Menu-->
					<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
						<!--begin::Menu Container-->
						<div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
							<!--begin::Menu Nav-->
							<ul class="menu-nav">
								<li class="menu-item" aria-haspopup="true">
									<a href="../../../../../home" class="menu-link">
										<i class="menu-icon flaticon-home"></i>
										<span class="menu-text">Dashboard</span>
									</a>
								</li>
								<li class="menu-item menu-item-submenu {{acl_sidebar.dashboard}} active menu-item-open" aria-haspopup="true" data-menu-toggle="hover">
									<a href="javascript:;" class="menu-link menu-toggle">
										<i class="menu-icon flaticon-folder-1"></i>
										<span class="menu-text">Cadastros</span>
										<i class="menu-arrow"></i>
									</a>
									<div class="menu-submenu ">
										<i class="menu-arrow"></i>
										<ul class="menu-subnav">
											<li class="menu-item {{acl_sidebar.empresas}}" aria-haspopup="true">
												<a href='../../../../../empresas' class="menu-link">
													<i class="menu-icon far fa-building">
														<span></span>
													</i>
													<span class="menu-text">Empresas</span>
												</a>
											</li>
											<li class="menu-item  {{acl_sidebar.transportadoras}}" aria-haspopup="true">
												<a href='../../../../../transportadoras' class="menu-link">
													<i class="menu-icon la la-car-side">
														<span></span>
													</i>
													<span class="menu-text">Transportadoras</span>
												</a>
											</li>
											<li class="menu-item  {{acl_sidebar.fornecedores}}" aria-haspopup="true">
												<a href='../../../../../fornecedores' class="menu-link">
													<i class="menu-icon fas fa-truck-loading">
														<span></span>
													</i>
													<span class="menu-text">Fornecedores</span>
												</a>
											</li>
											<li class="menu-item  {{acl_sidebar.clientes}}" aria-haspopup="true">
												<a href='../../../../../clientes' class="menu-link">
													<i class="menu-icon fas fa-user-friends">
														<span></span>
													</i>
													<span class="menu-text">Clientes</span>
												</a>
											</li>

											<li class="menu-item menu-item-submenu {{acl_sidebar.produtos}} " aria-haspopup="true" data-menu-toggle="hover">
												<a href="javascript:;" class="menu-link menu-toggle">
													<i class="menu-icon icon-xl  flaticon2-shopping-cart"></i>
													<span class="menu-text">Produtos</span>
													<i class="menu-arrow"></i>
												</a>
												<div class="menu-submenu">
													<i class="menu-arrow"></i>
													<ul class="menu-subnav">
														<li class="menu-item " aria-haspopup="true">
															<a href='../../../../../produtos' class="menu-link">
																<i class="menu-icon fas fa-cart-plus">
																	<span></span>
																</i>
																<span class="menu-text">Listar Produtos</span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href='../../../../../kits' class="menu-link">
																<i class="menu-icon fas fa-tags">
																	<span></span>
																</i>
																<span class="menu-text">Kits</span>
															</a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<!-- <li class="menu-section">
									<h4 class="menu-text">Colações</h4>
									<i class="menu-icon ki ki-bold-more-hor icon-md"></i>
								</li>
								<li class="menu-item menu-item-submenu" aria-haspopup="true">
										<a class="menu-link" href='../../../../../lista_colacao'>
										<i class="menu-icon flaticon-calendar"></i>
											<span class="menu-text">Listar Colações</span>
										</a>
								</li>
								<li class="menu-item menu-item-submenu" aria-haspopup="true">
										<a class="menu-link" href='../../../../../adicionar_colacao'>
										<i class="menu-icon flaticon2-calendar-6"></i>
											<span class="menu-text">Adicionar Colação</span>
										</a>
									</a>
								</li>
								<li class="menu-section">
									<h4 class="menu-text">Formandos</h4>
									<i class="menu-icon ki ki-bold-more-hor icon-md"></i>
								</li>
								<li class="menu-item menu-item-submenu" aria-haspopup="true">
										<a class="menu-link" href='../../../../../lista_formandos'>
										<i class="menu-icon flaticon-avatar"></i>
											<span class="menu-text">Listar Formandos</span>
										</a>
									</a>
								</li>
								<li class="menu-item menu-item-submenu" aria-haspopup="true">
										<a class="menu-link" href='../../../../../adicionar_formando'>
										<i class="menu-icon flaticon-user-add"></i>
											<span class="menu-text">Adicionar Formando</span>
										</a>
									</a>
								</li> -->
								<!-- <?php // Apenas administradores if($_SESSION['level'] > 1){ ?> -->
								<li class="menu-section {{acl_sidebar.administracao}}">
									<h4 class="menu-text">Administração</h4>
									<i class="menu-icon ki ki-bold-more-hor icon-md"></i>
								</li>
								<li class="menu-item menu-item-submenu {{acl_sidebar.gerenciar_usuarios}}" aria-haspopup="true" data-menu-toggle="hover">
									<a href="javascript:;" class="menu-link menu-toggle">
										<i class="menu-icon fas fa-users-cog"></i>
										<span class="menu-text">Gerenciar Usuários</span>
										<i class="menu-arrow"></i>
									</a>
									<div class="menu-submenu">
										<i class="menu-arrow"></i>
										<ul class="menu-subnav">
											<li class="menu-item" aria-haspopup="true">
												<a href='../../../../../admin/users/new' class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Adicionar Usuário</span>
												</a>
											</li>
											
											<li class="menu-item" aria-haspopup="true">
												<a href='../../../../../admin/users' class="menu-link">
													<i class="menu-bullet menu-bullet-dot">
														<span></span>
													</i>
													<span class="menu-text">Listar Usuários</span>
												</a>
											</li>
										</ul>
									</div>
								</li>
					
							<li class="menu-item menu-item-submenu  {{acl_sidebar.registros}}" aria-haspopup="true">
										<a class="menu-link" href='../../../../../admin/logs'>
										<i class="menu-icon far fa-list-alt"></i>
											<span class="menu-text">Acessar Registros do Sistema</span>
										</a>
									</a>
								</li>
								<!-- <?php //} ?> -->
								<li class="menu-section">
									<h4 class="menu-text">Configuração</h4>
									<i class="menu-icon ki ki-bold-more-hor icon-md"></i>
								</li>
								<li class="menu-item menu-item-submenu" aria-haspopup="true">
								<a class="menu-link" href='../../../../../me'>
											<span class="svg-icon menu-icon"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Home\Key.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24"/>
													<polygon fill="#000000" opacity="0.3" transform="translate(8.885842, 16.114158) rotate(-315.000000) translate(-8.885842, -16.114158) " points="6.89784488 10.6187476 6.76452164 19.4882481 8.88584198 21.6095684 11.0071623 19.4882481 9.59294876 18.0740345 10.9659914 16.7009919 9.55177787 15.2867783 11.0071623 13.8313939 10.8837471 10.6187476"/>
													<path d="M15.9852814,14.9852814 C12.6715729,14.9852814 9.98528137,12.2989899 9.98528137,8.98528137 C9.98528137,5.67157288 12.6715729,2.98528137 15.9852814,2.98528137 C19.2989899,2.98528137 21.9852814,5.67157288 21.9852814,8.98528137 C21.9852814,12.2989899 19.2989899,14.9852814 15.9852814,14.9852814 Z M16.1776695,9.07106781 C17.0060967,9.07106781 17.6776695,8.39949494 17.6776695,7.57106781 C17.6776695,6.74264069 17.0060967,6.07106781 16.1776695,6.07106781 C15.3492424,6.07106781 14.6776695,6.74264069 14.6776695,7.57106781 C14.6776695,8.39949494 15.3492424,9.07106781 16.1776695,9.07106781 Z" fill="#000000" transform="translate(15.985281, 8.985281) rotate(-315.000000) translate(-15.985281, -8.985281) "/>
												</g>
											</svg><!--end::Svg Icon--></span>
												<span class="menu-text">Mudar Senha</span>
										</a>
								</li>
								<li class="menu-item menu-item-submenu" aria-haspopup="true">
										<a class="menu-link" href='../../../../../guia'>
										<i class="menu-icon flaticon-presentation-1"></i>
											<span class="menu-text">Manual do Sistema</span>
										</a>
									</a>
								</li>
								<li class="menu-item menu-item-submenu" aria-haspopup="true">
										<a class="menu-link" href='../../../../../sair'>
										<i class="menu-icon flaticon-logout"></i>
											<span class="menu-text">Sair</span>
										</a>
									</a>
								</li>
	
							</ul>
							<!--end::Menu Nav-->
						</div>
						<!--end::Menu Container-->
					</div>
					<!--end::Aside Menu-->
				</div>
				<!--end::Aside-->