<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
	<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
		<!--begin::Info-->
		<div class="d-flex align-items-center flex-wrap mr-2">
			<!--begin::Actions-->
			<a href="../../../../../dashboard" class="btn btn-primary font-weight-bolder btn-sm mr-2"><i class="far fa-list-alt"></i>Dashboard</a>
		<!-- 	<a href="../../../../../lista_formandos" class="btn btn-primary font-weight-bolder btn-sm mr-2"><i class="flaticon-avatar"></i>Listar Formandos</a>
			<a href="../../../../../adicionar_colacao" class="btn btn-danger font-weight-bolder btn-sm mr-2"><i class="flaticon2-calendar-6"></i> Adicionar Colação</a>
			<a href="../../../../../lista_colacao" class="btn btn-danger font-weight-bolder btn-sm mr-2"><i class="flaticon-calendar"></i> Listar Colaçoes</a> -->
		</div>
		<!--end::Info-->
	</div>
</div>
<!--end::Subheader-->
